variable
{
    //info
    workers 0
    seed date("%S%H%d%m%Y")
    //dataset
    batch 100
    input "datasets/mnist_novalidation.db.gz"
    samples 60000
    //denn
    epoch 10
    //output
    output "BP_MNIST.json"
    stream "::cout"
}


//network
network
{
    conv(28 28, 
         /* Kernel: */ 5 5 4 /* Slice */ 2 /* pad */ 2 2 )
    relu
    maxp(,2 2 2)
    conv(, /* Kernel: */ 5 5 16 /* Slice */ 1 /* pad */ 2 2 )
    relu
    maxp(,2 2 2)
    fc(,32)
    relu
    fc(,10)
    softmax
}

//DE Params
args 
{
    //epoch
    generations $samples / $batch * $epoch 
    sub_gens floor(( $samples / $batch ) * 0.1)

    //init individuals
    distribution normal {
        normal_mu 0
        normal_sigma 0.01
    }
    
    //backpropagation
    instance backpropagation
    learning_rate 0.001
    decay 0.00005
    momentum 0.9
    nesterov true
}

//Others
args
{
   seed $seed
   output "results/" + $output
   runtime_output_file $stream
   dataset $input
   batch_size $batch
   batch_offset $batch
   
}
