variable
{
    //info
    workers 0
    seed date("%S%H%d%m%Y")
    //dataset
    batch 100
    batch_size $batch
    batch_offset $batch
    input "datasets/mnist_novalidation.db.gz"
    validation false
    //denn
    gens 600 * 10
    sub_gens 50
    np 1
    clamp 1.0
    rand 0.25
    //output
    output "BP_MNIST.json"
    stream "::cout"
    // compute test
    compute_test_per_pass false
}

//Init
args 
{
   //threads and seed
   threads_pop $workers
   seed $seed
   output "results/" + $output
   runtime_output_file $stream
}

//Batch info
args
{
   dataset $input
   batch_size $batch_size
   batch_offset $batch_offset
   use_validation $validation 
   compute_test_per_pass $compute_test_per_pass
   reval_pop_on_batch false
}

//network
network
{
    conv(28 28, 5 5 1 2 2 2)
    relu
    fc(,100)
    sigmoid
    fc(,10)
    softmax
}

//DE Params
args 
{
    //generations + np
    generations $gens
    sub_gens $sub_gens
    number_parents $np

    //init individuals
    clamp_max  $clamp
    clamp_min  -$clamp
    random_max  $rand
    random_min  -$rand
    
    instance backpropagation
    learning_rate 0.001
    regularize 0.00005
}
